/* Estilos básicos */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

/* Menú principal */
.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2014a3;
    padding: 10px;
    border-radius: 10px;
}


.main-menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    display: flex;

}

.main-menu ul li {
    margin-right: 15px;
}

.main-menu ul li a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #fecb00;
}

.main-menu ul li a:hover {
    background-color: #ff9500;
}
.main-menu img{
    border-radius: 30px;
}


/* Sección de contenido principal */
.content {
    margin: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

h1{
    padding: 40px;
    color: blue;
    font-family: "Alfa Slab One", serif;
    font-size: 30px;
}

p{
    font-family: "Caveat", cursive;
    padding: 15px;
    font-size: 20px;
}
.promo-left img {
    width: 350px;
    border-radius: 50px;

}

.promo-right {
    max-width: 50%;
    background-color: rgb(13, 175, 240);
    border-radius: 30px;
    margin: 15px;
}

.button {
    background-color: #005bbb;
    color: rgb(251, 255, 14);
    padding: 10px 20px;
    border-radius: 10px;
   text-decoration: none;
}

.button:hover {
    background-color: #ffcb05;
}





.promo2-left img {
    width: 350px;
    border-radius: 50px;

}

.promo1-right {
    max-width: 50%;
    background-color: rgb(207, 224, 231);
    border-radius: 30px;
    margin: 15px;
}

.button {
    background-color: #005bbb;
    color: rgb(251, 255, 14);
    padding: 10px 20px;
    border-radius: 10px;
   text-decoration: none;
}

.button:hover {
    background-color: #ffcb05;
}


.menu2 ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-family: "Caveat", cursive;
}

.menu2 ul li {
    display: inline-block;
    margin-right: 80px;
}

.menu2 ul li a {
    text-decoration: none;
    color: #0150cf;
    font-weight: bold;
}


/* Footer */

footer img{
    
    border-radius: 50px;
    max-width: 150px; 
    float: right;
    justify-content: flex-end;
}
.social a {
    font-size: 30px;
}
.facebook{
    color: blue;
}

.instagram{
    color: #eb1446;
}